.resume-section {
  background-color: $gray-800;
  background-image: url("https://i.imgur.com/p9uP8QC.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 5rem 0 10rem;
}
