---
layout: default
---

<div class="posts">
  {% for tag in site.tags %}
  {% if tag[0] == "pinned" %}
  {% for post in (tag[1] | sort: "date", "last") %}
    <article class="post">

      <h1>
        <img src="https://i.imgur.com/G2NHsp9.png" alt="pin" height="26" width="26">
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}
        </a>
      </h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
  {% endif %}
{% endfor %}
  {% for tag in site.tags %}
  {% if tag[0] != "pinned" %}
  {% for post in (tag[1] | sort: "date", "last") %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
  {% endif %}
{% endfor %}
{% for post in site.posts %}
  {% if post.tags == empty %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endif %}
{% endfor %}
  
</div>
