---
layout: default
---

<div class="posts">
  {% for tag in site.tags %}
  {% for post in tag[1] %}
    <article class="post">

      <h1>{% if tag == "pinned" %}
    <img src="https://i.imgur.com/G2NHsp9.png" alt="pin" height="26" width="26">
  {% endif %}<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
{% endfor %}
  
</div>
